---
// Layouts
import Layout from "../layouts/Layout.astro";

import Header from "src/layouts/Header.astro";
import Footer from "src/layouts/Footer.astro";

//Components
import PrimaryButton from "@components/PrimaryButton.astro";

// Assets
import GraphIntro from "@assets/images/illustration-intro.svg";

// Avatars
import AnishaAvatar from "@assets/images/avatar-anisha.png";
import AliAvatar from "@assets/images/avatar-ali.png";
import RichardAvatar from "@assets/images/avatar-richard.png";
import ShanaiAvatar from "@assets/images/avatar-shanai.png";
---

<Layout title="Landing Page | FrontEnd Mentor">
  <div id="app">
    <Header />
    <main>
      <section class="m-auto max-w-screen-xl columns-2 p-4">
        <div class="flex flex-col gap-y-8">
          <h1 class="text-6xl font-extrabold leading-tight text-dark-blue">
            Bring everyone together to build better products.
          </h1>
          <p class="w-1/2 text-slate-500">
            Manage makes it simple for software teams to plan day-to-day tasks
            while keeping the larger team goals in view.
          </p>
          <PrimaryButton />
        </div>
        <img src={GraphIntro} alt="Graph illustration" />
      </section>
      <section class="m-auto flex max-w-screen-xl p-4">
        <section>
          <h1 class="mb-6 text-5xl font-bold leading-tight text-dark-blue">
            What’s different about Manage?
          </h1>
          <p class="mb-4 w-3/4 text-slate-500">
            Manage provides all the functionality your team needs, without the
            complexity. Our software is tailor-made for modern digital product
            teams.
          </p>
        </section>
        <section class="w-2/3">
          <div class="mb-6 flex gap-7">
            <span
              class="h-fit rounded-3xl bg-bright-red px-6 py-2 font-bold text-white shadow-lg"
              >01</span
            >
            <div>
              <h2 class="py-2 font-bold text-dark-blue">
                Track company-wide progress
              </h2>
              <p class="pr-4 text-slate-500">
                See how your day-to-day tasks fit into the wider vision. Go from
                tracking progress at the milestone level all the way done to the
                smallest of details. Never lose sight of the bigger picture
                again.
              </p>
            </div>
          </div>
          <div class="mb-6 flex gap-7">
            <span
              class="h-fit rounded-3xl bg-bright-red px-6 py-2 font-bold text-white shadow-lg"
              >02</span
            >
            <div>
              <h2 class="py-2 font-bold text-dark-blue">
                Advanced built-in reports
              </h2>
              <p class="pr-4 text-slate-500">
                Set internal delivery estimates and track progress toward
                company goals. Our customisable dashboard helps you build out
                the reports you need to keep key stakeholders informed.
              </p>
            </div>
          </div>
          <div class="mb-6 flex gap-7">
            <span
              class="h-fit rounded-3xl bg-bright-red px-6 py-2 font-bold text-white shadow-lg"
              >03</span
            >
            <div>
              <h2 class="py-2 font-bold text-dark-blue">
                Everything you need in one place
              </h2>
              <p class="pr-4 text-slate-500">
                Stop jumping from one service to another to communicate, store
                files, track tasks and share documents. Manage offers an
                all-in-one team productivity solution.
              </p>
            </div>
          </div>
        </section>
      </section>
      <section>
        <h1 class="text-center text-5xl font-bold leading-tight text-dark-blue">
          What they’ve said
        </h1>
        <section class="flex snap-x px-9 snap-mandatory gap-9 overflow-x-auto">
          <div class="min-w-[500px] snap-center bg-gray-500 px-8 py-5">
            <img src={AnishaAvatar} alt="Anisha Avatar" />
            <b>Anisha Li</b>
            <p>
              “Manage has supercharged our team’s workflow. The ability to
              maintain visibility on larger milestones at all times keeps
              everyone motivated.”
            </p>
          </div>
          <div class="min-w-[500px] snap-center bg-gray-500 px-8 py-5">
            <img src={AliAvatar} alt="Ali Avatar" />
            <b>Ali Bravo</b>
            <p>
              “We have been able to cancel so many other subscriptions since
              using Manage. There is no more cross-channel confusion and
              everyone is much more focused.”
            </p>
          </div>
          <div class="min-w-[500px] snap-center bg-gray-500 px-8 py-5">
            <img src={RichardAvatar} alt="Richard Avatar" />
            <b>Richard Watts</b>
            <p>
              “Manage allows us to provide structure and process. It keeps us
              organized and focused. I can’t stop recommending them to everyone
              I talk to!”
            </p>
          </div>
          <div class="min-w-[500px] snap-center bg-gray-500 px-8 py-5">
            <img src={ShanaiAvatar} alt="Shanai Avatar" />
            <b>Shanai Gough</b>
            <p>
              “Their software allows us to track, manage and collaborate on our
              projects from anywhere. It keeps the whole team in-sync without
              being intrusive.”
            </p>
          </div>
        </section>
        <PrimaryButton />
      </section>
      <section>
        <h1>Simplify how your team works today.</h1>
        <PrimaryButton />
      </section>
    </main>
    <Footer />
  </div>
</Layout>
